html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url("https://res.cloudinary.com/dwlg4h25p/image/upload/c_scale,h_1080,w_1920/v1499369259/aleks-dahlberg-274646_adpdpw.jpg");
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* This is used so that flexbox is displayed correctly in all browsers*/
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
    -webkit-justify-content: center;

    height: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: white;
    font-family: 'Source Code Pro', cursive;
    font-size: 7em;
    font-weight: lighter;
    margin: 0;
}
button {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid white 2px;
    text-decoration: none;
    background-color: Transparent;
}

button:hover {
    cursor: pointer;
    /* background: #ffffff;
     text-decoration: none; */
}

.shortBio {
    text-align: center;
    justify-content: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
}

nav-bar {
    height: 100%;
    width: 60px;
    float: left;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
    -webkit-justify-content: center;

    border-right: solid 2px white
}

.logo {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 2.2em;
}

i {
    -webkit-filter: invert(100%);
    font-size: 32px;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    position: relative;

}

.navGap {
    height: 34%
}

.navGap:nth-child(7) {
    height: 29%
}

i:hover {
    opacity: 0.1;
    cursor: pointer;
}


